.App {
  text-align: center;
}

.projectcard {
  text-align: center;
  border: 2px solid rgb(178, 178, 228);
  width: 600px;
  margin: auto;
  background-color: rgb(221, 168, 193);
}

.projectslist {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
}

h1 {
  text-align: center;
  color: rgb(148, 43, 43);
  font-size: 40px;
}